.nav-item {
    position: relative;
  }
 
  .nav-item::after {
    content: "";
    width: 80%;
    height: 2px;
    
    background: linear-gradient(to right, #CA965C, #EEC373);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 20px;
  }